{% extends 'base.html' %}

{% block content %}
<h1>Teams</h1>

<nav>
    <ul>
        <li><a href="/teams/new" style="color: white">Create New Team</a></li>
    </ul>
</nav>

{% for team in all_teams %}
    <div class="team">
        <div class="content">
        </div>
        <div class="team_name">
            <a href="/teams/{{team.id}}" style="color: white">   {{team.team_name}}   &#127944;</a>
        </div>
        <div class="delete-buttons">
            <form class="delete-form" action="/teams/{{team.id}}/delete" method="POST">
                <button type="submit" class="trash-button"><i class="fa fa-trash-o fa-3x" style="color: brown" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
{% endfor %}

    
{% endblock  %}

<!-- 
<div class="edit-buttons">
    <form class="edit-form" action="/teams/{{team.id}}/edit" method="POST">
        <button type="submit" class="edit-button"><i>&#127944;</i></button>
    </form></button>
-->
