body {
    background: url('/static/images/goal_posts.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #F6F4F3;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 5px;
    margin: 15px;
  }
  